        
        *{

            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family:'Times New Roman', Times, serif;
            font-style: normal;
            margin: auto;
            padding: auto;
            
        }

        .container {
            width: 1440px;
            height: 60px;
            background-color: darkgrey;
        }

        h1 {
            position: fixed;
            right: 1px;
            top: auto;
            font-size: 40px;
            text-align: right;
            padding: auto;
            margin: auto;
            
        }

        .dropbtn {
            background-color: antiquewhite;
            color: goldenrod;
            cursor: pointer;
            padding: 16px;
        }


        .dropdown {
            position: relative;
            display: inline-block;
        }


        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-size: 20px;
        }

        .dropdown-content a:hover {
            background-color: blue;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: lightpink;
        }

        .contact-icons a {
            
            text-decoration: none;
            color: blue;
            margin: 1rem;
            align-items: center;
            padding-left: 0;

        }

        .contact-icons img {

            width: 50px;
            gap: 0;
            height: 30px;
            
        }


        .social-icons {

            font-size: 24px;
            
        }

        .social-icons a {
            
            text-decoration: blue;
            color: #333;
            margin: 0 10px;
            align-items: center;
            padding-left: 30px;
        }

        .whatsapp-icon {

            position: fixed;
            bottom:20px;
            right: 20px;
            z-index: 900;
        }

        .whatsapp-icon a {

            display: block;
        }

        .whatsapp-icon img {

            width: 45px;
            height: 45px;
        }


